<h2>You are about to book</h2>
<h2>Please enter the number of reservation</h2>

<%= form_for [@space, @booking] do |f| %>
	<p>
		<%= f.label :no_of_rooms %>
		<%= f.number_field :no_of_rooms %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>