
<div class = "row">
	<div class = 'col-sm-4'>
		<div class = "thumbnails">
			<div class= "caption">
				<h3>Have some extra space</h3>
				<p> share it and earn money</p>
				<p>
					<%= link_to "Share your spaces",new_user_space_path(@user.id), class: "btn btn-primary btn-large"%>
				</p>
			</div>
		</div>
	</div>
	<div class = 'col-sm-8'>
		<div class = "image-holder navbar-text pull-right">
			<%#= image_tag("room.jpeg")%>
		</div>
	</div>
	<div class = 'col-sm-4'>
</div>