/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@baseFontSize: 18px;
@baseLineHeight: 18px;

.btn-lg{
	padding:6px 16px;
}

.navigation{
	margin:0px 15px 0px 15px;
}

.header-top{
	margin-bottom:3px;
}

.header{
	margin:0px;
}

.alert{
	margin-top:20px;
}

.body{
	padding-top:80px;
}

.jumbotron{
	padding-top:80px;
}

.extra-space{
	margin-top:85px;
	background: #EFE4FF;
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.1), /*bottom internal shadow*/
	inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/


}
.side-bar{
	margin-left:15%;
	margin-right:15%;
	width:auto;
	color:#404040 ;
}
.extra-image{
	margin:10px;
	width:55%;
}

.explore{
	color:#585858;
	background-color:#96B3D3;
}
.container .caption{
	margin-left:64px;
}
highlight{
	color:darkblue;
}
.container .devise-form{
	margin-left:35%;
	margin-right:35%;
	width:100%;
	min-height:650px;
}
.thumbnail-index{
	margin-bottom:30px;
	background-color:#96B3D3;
	.image{
		margin-left:74px;
	}
	.caption{
		margin-left:100px;
	}
}