<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <p class = "navbar-text pull-right"> 
    	<%= link_to "want to host","", class: "btn btn-lg btn-primary navigation" %>
    	<%= link_to "sign up", "", class: "btn btn-lg btn-primary navigation"%>
    	<%= link_to "login","", class: "btn btn-lg btn-primary navigation"%>
    </p>
  </div>
</nav>